<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bug Tracker</title>
  </head>
  <body>
    <button><a href="/logout/">Logout</a></button>
    <h1>Ticket System</h1>
    {{ request.user }}
    <button><a href="/addticket/">Post Ticket</a></button>
    <div id="new-ticket-div">
      <h2>New Tickets</h2>
      <ul>
        {% for ticket in new %}
        <li>
          # {{ticket.id}} | Title:
          <a href="/ticket/{{ ticket.id }}">{{ticket.title}}</a> | Status:
          {{ticket.status}} | Assigned to: | Created by:
          <a href="/profile/{{ ticket.author.id }}">{{ticket.author}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div id="in-progress-div">
      <h2>In Progress Tickets</h2>
      <ul>
        {% for ticket in in_progress %}
        <li>
          # {{ticket.id}} | Title:
          <a href="/ticket/{{ ticket.id }}">{{ticket.title}}</a> | Status:
          {{ticket.status}} | Assigned to:
          <a href="/profile/{{ ticket.assigned_to.id }}"
            >{{ticket.assigned_to}}</a
          >| Created by:
          <a href="/profile/{{ ticket.author.id }}">{{ticket.author}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div id="done-div">
      <h2>Completed Tickets</h2>
      <ul>
        {% for ticket in done %}
        <li>
          # {{ticket.id}} | Title:
          <a href="/ticket/{{ ticket.id }}">{{ticket.title}}</a> | Status:
          {{ticket.status}} | Assigned to:
          <a href="/profile/{{ ticket.assigned_to.id }}"
            >{{ticket.assigned_to}}</a
          >
          | Created by:
          <a href="/profile/{{ ticket.author.id }}">{{ticket.author}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
