<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Ticket System</h1>
    <button><a href="/addticket/">Post Ticket</a></button>
    <div id="new-ticket-div">
      <h2>New Tickets</h2>
      <ul>
        {% for ticket in new %}
        <li>
          # {{ticket.id}} | Title: {{ticket.title}} | Status: {{ticket.status}}
          | Assigned to: | Created by: {{ticket.author}}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div id="in-progress-div">
      <h2>In Progress Tickets</h2>
      <ul>
        {% for ticket in in_progress %}
        <li>
          # {{ticket.id}} | Title: {{ticket.title}} | Status: {{ticket.status}}
          | Assigned to: {{ticket.assigned_to}} | Created by: {{ticket.author}}
          | CB: {{ticket.completed_by}}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div id="done-div">
      <h2>Completed Tickets</h2>
      <ul>
        {% for ticket in done %}
        <li>
          # {{ticket.id}} | Title: {{ticket.title}} | Status: {{ticket.status}}
          | Assigned to: {{ticket.assigned_to}} | Created by: {{ticket.author}}
          | CB: {{ticket.completed_by}}
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
