<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <title>Bug Tracker</title>
  </head>
  <body>
    <div class="container">
      <button class="btn btn-secondary mt-3">
        <a href="/logout/" class="text-decoration-none text-white">Logout</a>
      </button>
      <h1 class="d-flex justify-content-center">Ticket System</h1>
      <h3 class="d-flex justify-content-center text-info">
        Welcome {{ request.user }}!
      </h3>
      <div class="row d-flex justify-content-end">
        <button type="button" class="btn btn-primary mr-3 mb-3">
          <a href="/addticket/" class="text-decoration-none text-white"
            >Post Ticket</a
          >
        </button>
      </div>
      <div id="new-ticket-div" class="shadow p-3 mb-5 bg-white rounded">
        <h2>New Tickets</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Assigned To</th>
              <th scope="col">Reported By</th>
              <th scope="col">Ticket Age</th>
            </tr>
          </thead>
          <tbody>
            {% for ticket in tickets.new %}
            <tr>
              <th scope="row">{{ ticket.id }}</th>
              <td><a href="/ticket/{{ ticket.id }}">{{ticket.title}}</a></td>
              <td>
                <!-- <a href="/profile/{{ ticket.assigned_to.id }}"
                  >{{ticket.assigned_to}}</a
                > -->
              </td>
              <td>
                <a href="/profile/{{ ticket.author.id }}">{{ticket.author}}</a>
              </td>
              <td>{{ ticket.date }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div id="in-progress-div" class="shadow p-3 mb-5 bg-white rounded">
        <h2>In Progress Tickets</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Assigned To</th>
              <th scope="col">Reported By</th>
              <th scope="col">Ticket Age</th>
            </tr>
          </thead>
          <tbody>
            {% for ticket in tickets.inP %}
            <tr>
              <th scope="row">{{ ticket.id }}</th>
              <td><a href="/ticket/{{ ticket.id }}">{{ticket.title}}</a></td>
              <td>
                <a href="/profile/{{ ticket.assigned_to.id }}"
                  >{{ticket.assigned_to}}</a
                >
              </td>
              <td>
                <a href="/profile/{{ ticket.author.id }}">{{ticket.author}}</a>
              </td>
              <td>{{ ticket.date }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div id="done-div" class="shadow p-3 mb-5 bg-white rounded">
        <h2>Completed Tickets</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Assigned To</th>
              <th scope="col">Reported By</th>
              <th scope="col">Ticket Age</th>
            </tr>
          </thead>
          <tbody>
            {% for ticket in tickets.done %}
            <tr>
              <th scope="row">{{ ticket.id }}</th>
              <td><a href="/ticket/{{ ticket.id }}">{{ticket.title}}</a></td>
              <td>
                <!-- <a href="/profile/{{ ticket.assigned_to.id }}"
                  >{{ticket.assigned_to}}</a
                > -->
              </td>
              <td>
                <a href="/profile/{{ ticket.author.id }}">{{ticket.author}}</a>
              </td>
              <td>{{ ticket.date }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div id="invalid-ticket-div" class="shadow p-3 mb-5 bg-white rounded">
        <h2>Invalid Tickets</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Assigned To</th>
              <th scope="col">Reported By</th>
              <th scope="col">Ticket Age</th>
            </tr>
          </thead>
          <tbody>
            {% for ticket in tickets.invalid %}
            <tr>
              <th scope="row">{{ ticket.id }}</th>
              <td><a href="/ticket/{{ ticket.id }}">{{ticket.title}}</a></td>
              <td>
                <!-- <a href="/profile/{{ ticket.assigned_to.id }}"
                  >{{ticket.assigned_to}}</a
                > -->
              </td>
              <td>
                <a href="/profile/{{ ticket.author.id }}">{{ticket.author}}</a>
              </td>
              <td>{{ ticket.date }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
